.movieCard {
  display: flex;
  flex-flow: row wrap;
  padding: 2em;

  >* {
    flex: 2.5;
    min-width: 300px;
  }

  .poster {
    flex: 1;

    img {
      width: 100%;
    }
  }

  span {
    margin-right: 0.6em;
    margin-top: 0.5em;
    background: white;
    text-transform: uppercase;
    padding: 0.5em;
    border-radius: 5px;
    color: blue;
    max-height: 3em;
    display: inline-block;
    border: 1px solid blue;
  }

  h1 {
    font-size: 4em;
    position: relative;

  }

  img {
    width: 70%;
    box-shadow: 32px 20px 60px 6px blue;
  }

  .vote,
  .date {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

h3 {
  padding: 2em;
}
