.movieCard {
  display: flex;
  flex-flow: row wrap;
  padding: 2em;

  >* {
    flex: 2.5;
    min-width: 300px;
  }

  .poster {
    flex: 1;
    
    img {
      width: 100%;
      box-shadow: 32px 20px 60px 6px #061539;}
    
  }

  span {
    margin-right: 0.6em;
    margin-top: 0.5em;
    text-transform: uppercase;
    padding: 0.5em;
    border-radius: 5px;
    max-height: 3em;
    display: inline-block;
  }
  
  .genre {
    border: 1px solid  #061539;
    background: white;
    color:  #061539;
    
  }
  
  h1 {
    font-size: 4em;
    position: relative;
    
  }
  
  .prod {
    display: inline-block;
    padding: 0.5em;

    
    img {
    max-width: 100px;

    }
  }

  .vote,
  .date {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

h3 {
  padding: 2em;
}
