.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    
}

.movie {
    text-decoration: none;
    color: orangered;
    padding: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 500px;
    height: 300px;
    margin: 1.2em;
    
    &::before {
        content: '';
        background: rgba(0,0,0,0.6);
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: all 300ms linear;
    }

&:hover::before{
    background: rgba(0,0,0,0.4)
}

   & > * {
       z-index: 1;
       position: relative;
   }
}