.movies {
    padding: 5em;
    display: grid;
    grid-gap: 5em;
    justify-content: center;
    background: lightgrey;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));

    
}

.movie {
    color: orangered;
    padding: 1em; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 300px; 
    
    
    h2 {
        max-width: 8em;
        display: flex;
        flex-flow: column wrap;
    }
    &::before {
        content: '';
        background: rgba(0,0,0,0.6);
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: all 300ms linear;
    }
    
    &:hover::before{
        background: rgba(0,0,0,0.2)
    }
    
    & > * {
        z-index: 1;
        position: relative;
    }
    @media (max-width: 400px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        background-size: cover;
        
    }
}