nav {
    padding: 2em;
    background-color: #222;
    display: flex;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 1em 0 0;
    }
    .active {
        color: orangered;
        font-weight: 800;
        cursor: default;
    }
}