
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


.father {
    flex-direction: row nowrap;
    display: flex;
    justify-content: center;
    background-image: url("../../assets/headercine.jpg");
    background-size: cover;
    border-bottom: solid;
    border-bottom-color: blue;
    .one {
        font-family: 'Indie Flower', cursive;
        a {
            text-decoration: none;
            color: blue;
            
        }
    }
}

nav {
    padding: 2em;
    display: flex;
    

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 1em 0 0;
    }
    .active {
        color: blue;
        font-weight: 800;
        cursor: default;
    }
    img {
       width: 2em;
       
        
    }
    @media(max-width: 425px) {
        padding: 1em 1em 0.2em 1em;
    }
   
}